<!doctype html>
<title>{% block title %}{% endblock %} | My Site</title>
<nav>
  <ul>
    <li><a href="/">Home page</a></li>
    <li><a href="/about">About</a></li>
    {% if user_email %}
     <li><a href="/profile">Profile</a></li>
     <li> Logged as {{ user_email }} (<a href="/logout">Logout</a>) </li>
    {% else %}
    <li> <a href="/login{{ login_return_url }}">Login or signup</a> </li>
    {% endif %}
    {% block extra_links %}{% endblock %}
  </ul>
</nav>
<div class="content">

  {% block body %}{% endblock %}
</div>
